@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    color: white;
    font: Roboto sans-serif;
}

.class_main_container {
    background-color: #141519;
}